<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        title Document
    body
        h1 Create Blogs

        nav
            ul
                li
                    a(href="/") blogs
                li
                    a(href="/about") about
                li
                    a(href="/blogs/create") New blog
        

        .create-blog.container
            .row
                .col-6
                    form.form-group(action="/blogs" method='post')
                        label(for="title") Blog title:
                        input(type="text" id='title' name='title' required).form-control
                        br
                        label(for="snippet") Blog snippet:
                        input(type="text" name='snippet' id='snippet').form-control
                        br
                        label(for="body") Blog body:
                        textarea#body(required name='body').form-control
                        br
                        button(type="submit", value="submit" class="btn btn-primary") Submit