<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet", href="style.css")
        title= title
    body
        .container
            h1.h1 Create Blogs

            nav
                ul
                    li
                        a(href="/") blogs
                    li
                        a(href="/about") about
                    li
                        a(href="/blogs/create") New blog
            
            div.lead
                ul
                    each val in blogs
                        li
                            a(href="/blogs/" + val.id)
                                p= val.title
                                p= val.snippet
                                p= val.body